@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  
}
html {
  scroll-behavior:smooth;
}


.navbarWrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  z-index: 10;
}

.navitem.active {
  background-color: yellow; 
}

.title {
  font-weight: 200;
  color: white;
  font-size: 30px;
}

.skillsContainer {
  background-color: white;
  height: 100vh;
  min-height: 45rem;
  padding: 60px;
}

.skillList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.partTitle{
  display: flex;
  justify-content: center;
}

.contactHeading{
  margin-top: 30px;
  display: block;
  font-size: 2rem;
  letter-spacing: 1px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 3.5rem;
  color: white;
}

.smallTitle{
  display: block;
  font-size: 2rem;
  letter-spacing: 1px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 0rem;
  color: #111;
}

.projectBox{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 95%;
  padding: 10px;
  background-color: #F9F9F9;
  border-radius: 15px;
}


.projectInfo{
  text-align: center;
  height: 200px;
  width: 70%;
}

.projectImage{
  width: auto;
  height: 100%;
  max-width: 100%;
  max-height: 300px;
}


.skillBox {
  width: 150px;
  height: 485px;
  padding: 20px;
  text-align: center;
  background-color: #F9F9F9;
  border-radius: 15px;
  margin: 30px 10px;
  flex-grow: 1000;
}

.skillImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 0 auto 10px;
}

.skillTitle {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.skillDescription {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 5px;
}


.navigation {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.navlink {
  text-decoration: none;
  color: white;
  transition: color 0.5s ease, opacity 0.3s ease;
}

.navlink.onpage {
  color: yellow;
}


.navlink:hover {
  opacity: 0.5; 
}


.landingPage{
  height: 100vh;
  font-size: 30px;
  display:flex;
  min-height: 40rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #F4F4F4;
}



.chakra-form__label{
  color: white;
}

.chakra-form__error-message{
  color: #e3353e;
}

.chakra-form-control{
  width:600px;
  margin-bottom: 10px;
}

.chakra-input{
  width: 600px;
  height: 40px;
  background-color: #1b202d;
  color: white;
  border: 1px solid gray;
  padding: 10px;
}

.projectstop3{
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.skillstop3{
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.aboutmesmall{
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.projectsdescr{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.underline{
  height: 5px;
  width: 50px;
  border: 3px solid #facf0f;
  border-radius: 15%;
}

.chakra-textarea{
  width: 600px;
  height: 80px;
  background-color: #1b202d;
  border: 1px solid gray;
  padding: 10px;
  color: white;
}

.contact{
  padding-top: 30px;
  padding-right: 70px;
  padding-left: 70px;
  min-height: 40rem;
  width:100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b202d;
}

.aboutMe {
  height: 100vh;
  min-height: 40rem;
  padding-top: 100px;
  background-color: #F4F4F4;
}

.projects {
  min-height: 40rem;
  padding-top: 50px; 
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectName{
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 0rem;
  color: #111;
}

.projectBrief{
  
}

.projectTech{

}

.btn {
  background: #facf0f;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
  transition: transform .3s;
  position: relative;
}

.btn:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.buttondisplay{
  display: none;
}


.btn--bg {
  margin-top: 1rem;
  padding: 0.5rem 4rem;
  font-size: 1rem;
}

.projectsbtn {
  background: #facf0f;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
  transition: transform .3s;
  position: relative;
}

.projectsbtn:hover {
  transform: translateY(-5px);
  cursor: pointer;
}


.projectsbtn--bg {
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}

.aboutHead{
  display: block;
  font-size: 2rem;
  letter-spacing: 1px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 0px;
  color: #111;
}




.aboutMeBody{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.getToKnow{
  width:90%;
  text-align: center;
}

li{
  list-style: none;
}

.hamburger{
  display:none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 4px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.aboumePar{
  padding-bottom: 15px;
}

@media(min-width: 1800px){
  .aboutHead{
    font-size: 3rem;
  }

  .smallTitle{
    font-size: 3rem;
  }

  .skillstop3{
    font-size: 1.5rem;
  }

  .aboutMeIdeas{
    font-size: 25px;
  }

  .navbarWrapper{
    height: 80px;
  }

  .navlink{
    font-size: 1rem;
  }

  .projectName{
    font-size: 1.5rem;
  }

  .projectBrief{
    font-size: 18px;
  }

  .skillTitle{
    font-size: 30px;
  }

  .skillDescription{
    font-size: 20px;
  }

  .projectstop3{
    font-size: 1.5rem;
  }

  .skillBox{
    height: 600px;
  }

  .skillImage{
    height: 150px;
    width: 150px;
  }

  .aboutMeGetToKnow{
    font-size: 1.5rem;
  }

  .aboutmesmall{
    font-size: 2rem;
  }

  .aboumePar{
    font-size: 30px;
  }
}

@media(max-width:767px){
  .landingPage{
    font-size: 20px;
  }

  .aboutmesmall{
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
  }

  .aboumePar{
    padding-bottom: 0;
  }

  .btn--bg {
    margin-top: 1rem;
    padding: 0.5rem 3.7rem;
  }

  .skillstop3{
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .hamburger{
    display: block;
  }

  .skillsContainer {
    padding: 10px;
  }

  .smallTitle{
    display: block;
    font-size: 2rem;
    letter-spacing: 1px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 0rem;
    color: #111;
  }

  .buttondisplay{
    display: block;
  }

  .aboutHead{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
  }
  

  .aboutMe {
    padding-top: 25px;
  }

  .skillDescription {
    text-align: center;
    font-size: 13px;
    width: 33%;
    padding: 2px;
    border-radius: 5px;
    flex-grow: 1; /* Add this property */
    text-align: center;
  }

  .contact{
    padding-top: 30px;
    padding-right: 0;
    padding-left: 0;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-6px) rotate(-45deg);
  }

  .getToKnow{
    width:90%;
    font-size: 13px;
  }

  .navigation{
    position: fixed;
    left: -100%;
    top:50px;
    gap: 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .navitem{
    margin: 16px 0;
  }

  .projectImage {
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 250px;
    margin-bottom: 5px;
  }
  

  .navigation.active{
    left: 0;
  }

  .skills1by1{
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    width: 90%;
    height: 50px;
    justify-content: space-between;
  }

.skillList {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
}

.skilllistContainer{
  height: 450px;
  overflow-x: scroll;
}

.skillBox {
  width: 94%;
  height: 200px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  background-color: #f2f2f2;
  margin: 10px 5px;
  flex-shrink: 0; 
}

.skillImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.skillTitle {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}

.projectBox{
  font-size: 0.9rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-y: auto;
  background-color: transparent;
}

.projectsbtn {
  font-weight: 700;
}

.projectsbtn--bg {
  margin-top: 0.25rem;
  margin-right: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.7rem;
}

.projectInfo{
  width: 90%;
}

}

