@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  
}
html {
  scroll-behavior:smooth;
}


.navbarWrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: 
#0d151c;
  z-index: 10;
}

.navitem.active {
  background-color: yellow; 
}

.title {
  font-weight: 200;
  color: white;
  font-size: 30px;
}

.socialsImage {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin: 0 auto 10px;
  transition: transform .3s;
  position: relative;
}

.socialsImage:hover {
  transform: translateY(-5px);
  cursor: pointer;
  background-color: #facf0f;
}


.socialLinks{
  display: flex;
  gap: 15px;
}

.skillsContainer {
  background-color: white;
  height: 100vh;
  min-height: 43rem;
  padding: 60px;
}

.skillsList{
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  display: flex;
  gap:10px;
}

.skillsTitle{
  font-weight: bold;
  font-size: 1.2rem;
  padding: 5px;
}

.skillBox{
  padding: 5px;
  color: white;
  background-color: #0d151c;
  font-weight: bold;
}


.partTitle{
  display: flex;
  justify-content: center;
}

.contactHeading{
  margin-top: 30px;
  display: block;
  font-size: 2rem;
  letter-spacing: 1px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 3.5rem;
  color: white;
}

.smallTitle{
  display: block;
  font-size: 2rem;
  letter-spacing: 1px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 0rem;
  color: #111;
}

.projectBox{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 95%;
  padding: 10px;
  border-radius: 15px;
}


.projectInfo{
  text-align: center;
  height: 200px;
  width: 70%;
}

.projectImage{
  width: auto;
  height: 100%;
  max-width: 100%;
  max-height: 300px;
}



.navigation {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.navlink {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.5s ease, opacity 0.3s ease;
}

.navlink.onpage {
  color: yellow;
}


.navlink:hover {
  opacity: 0.5; 
}


.landingPage{
  height: 100vh;
  font-size: 30px;
  display:flex;
  min-height: 40rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.aboutMeIdeas{
  font-size: 1.2rem;
}

.chakra-form__label{
  color: white;
}

.chakra-form__error-message{
  color: #e3353e;
}

.chakra-form-control{
  width:600px;
  margin-bottom: 10px;
}

.chakra-input{
  width: 600px;
  height: 40px;
  background-color: #1b202d;
  color: white;
  border: 1px solid gray;
  padding: 10px;
}

.projectstop3{
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


.aboutmesmall{
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.projectsdescr{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.underline{
  height: 5px;
  width: 50px;
  border: 3px solid #facf0f;
  border-radius: 15%;
}

.chakra-textarea{
  width: 600px;
  height: 80px;
  background-color: #1b202d;
  border: 1px solid gray;
  padding: 10px;
  color: white;
}

.contact{
  padding-top: 30px;
  padding-right: 70px;
  padding-left: 70px;
  min-height: 40rem;
  width:100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b202d;
}

.aboutMe {
  height: 100vh;
  min-height: 40rem;
  padding-top: 100px;
  background-color: #F4F4F4;
}

.projects {
  min-height: 40rem;
  padding-top: 50px; 
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectName{
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 0rem;
  color: #111;
}


.btn {
  background: #facf0f;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
  transition: transform .3s;
  position: relative;
}

.btn:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.buttondisplay{
  display: none;
}


.btn--bg {
  margin-top: 1rem;
  padding: 0.5rem 4rem;
  font-size: 1rem;
}

.projectsbtn {
  background: #facf0f;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
  transition: transform .3s;
  position: relative;
}

.projectsbtn:hover {
  transform: translateY(-5px);
  cursor: pointer;
}


.projectsbtn--bg {
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}

.aboutHead{
  display: block;
  font-size: 2rem;
  letter-spacing: 1px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 0px;
  color: #111;
}




.aboutMeBody{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.getToKnow{
  width:90%;
  text-align: center;
}

li{
  list-style: none;
}

.hamburger{
  display:none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 4px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.aboumePar{
  padding-bottom: 15px;
  font-size: 1.2rem;
}

@media(min-width: 1800px){
  .aboutHead{
    font-size: 3rem;
  }

  .smallTitle{
    font-size: 3rem;
  }

  .aboutMeIdeas{
    font-size: 25px;
  }

  .navbarWrapper{
    height: 80px;
  }

  .navlink{
    font-size: 1rem;
  }

  .projectName{
    font-size: 1.5rem;
  }

  .projectBrief{
    font-size: 18px;
  }

  .projectstop3{
    font-size: 1.5rem;
  }

  .aboutMeGetToKnow{
    font-size: 1.5rem;
  }

  .aboutmesmall{
    font-size: 2rem;
  }

  .aboumePar{
    font-size: 15px;
  }
}

@media(min-width: 1439px){
  .aboumePar{
    font-size: 1.6rem;
  }

  .aboutMeIdeas{
    font-size: 1.6rem;
  }

  .smallTitle{
    font-size: 2.5rem;
  }

  .skillBox{
    font-size: 1.3rem;
  }

  .aboutHead{
    font-size: 2.5rem;
  }

  .projectstop3{
    font-size: 1.3rem;
  }

  .projectName{
    font-size: 1.3rem;
  }

  .projectBrief{
    font-size: 1.2rem;
  }

  .projectTech{
    font-size: 1.2rem;
  }
}

@media(min-width: 2559px){
  .aboumePar{
    font-size: 2.5rem;
  }

  .aboutMeIdeas{
    font-size: 2.5rem;
    margin-top: 4rem;
  }

  .smallTitle{
    font-size: 3.5rem;
  }

  .skillBox{
    font-size: 2.1rem;
  }

  .aboumePar{
    margin-top: 4rem;
  }

  .aboutHead{
    font-size: 3.5rem;
  }

  .projectstop3{
    font-size: 2.3rem;
  }

  .projectName{
    font-size: 2.1rem;
  }

  .projectBrief{
    font-size: 2rem;
  }

  .projectTech{
    font-size: 2rem;
  }

  .projectsbtn{
    font-size: 1.2rem;
  }

  .projectImage{
    max-height: 500px;
  }

  .landingHeader{
    font-size: 3rem;
  }
}

@media(max-width: 800px){
  .aboumePar{
    font-size: 1rem;
  } 
}

@media(max-width:870px){
  .aboutMeIdeas{
    display: none;
  } 
}

@media(max-width:767px){
  .landingPage{
    font-size: 20px;
  }

  .aboutmesmall{
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
  }

  .aboumePar{
    font-size: 13.5px;
    padding-bottom: 0;
  }

  .btn--bg {
    margin-top: 1rem;
    padding: 0.5rem 3.7rem;
  }

  .aboutMeIdeas{
    display: none;
  }

  .hamburger{
    display: block;
  }

  .skillsContainer {
    padding: 10px;
  }

  .smallTitle{
    display: block;
    font-size: 1.5rem;
    letter-spacing: 1px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 0rem;
    color: #111;
  }

  .buttondisplay{
    display: block;
  }

  .aboutHead{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 0px;
  }
  

  .aboutMe {
    padding-top: 25px;
  }


  .contact{
    padding-top: 30px;
    padding-right: 0;
    padding-left: 0;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-6px) rotate(-45deg);
  }

  .getToKnow{
    width:90%;
    font-size: 13px;
  }

  .navigation{
    position: fixed;
    left: -100%;
    top:50px;
    gap: 0;
    flex-direction: column;
    background-color: 
#0d151c;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .skillsTitle{
    display: none;
  }

  .navitem{
    margin: 16px 0;
  }

  .projectImage {
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 250px;
    margin-bottom: 5px;
  }
  

  .navigation.active{
    left: 0;
  }


.projectBox{
  font-size: 0.9rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-y: auto;
  background-color: transparent;
}

.projectsbtn {
  font-weight: 700;
}

.projectsbtn--bg {
  margin-top: 0.25rem;
  margin-right: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.7rem;
}

.skillBox{
  font-size: 0.7rem;
}

.skillsList{
  margin-top: 10px;
  display: flex;
  gap:2px;
}


.projectInfo{
  width: 90%;
}

}

